
.PPPnikkeiLine-Regular
{
    font-family:"PPPNikkeiLine-Regular", sans-serif;
}
#barraTopo
{
    background-color:black;
    width: 1440px;
    height: 90px;
}

header nav ul 
{
    list-style-type:none;
}

a:link {
    color:whitesmoke;
    text-decoration: none;
}
a:visited {
    color:#F32F2F;
    text-decoration:none;
}
a:active {
    background-color:#F32F2F;
    text-decoration:none;
}
a:hover {
    color:whitesmoke;
    text-decoration:none;
}

.menu {
    margin: 20px 0;
    list-style: none;
   }

   .logo_home{
    margin-top:50px;
   }

   .menu__item_home {
    color:#F32F2F;
    display: inline-block;
    bottom: 20px;
    width: 200;
    position: relative;
   }
   .menu__item {
    color:#F32F2F;
    display: inline-block;
    left: 900px;
    bottom: 35px;
    width: 70px;
    height:18.4px;
    position: relative;
   }
   .submenu {
    position: absolute;
    display: none;
    width: 150px;
    background-color: black;
   }
   .com-submenu:hover .submenu {
    display: block;
   }

   .projetos {
    margin: 20px 0;
    list-style: none;
   }

   .projeto_bridgestone {
    display: inline-block;
    width: 200;
    position: relative;
   }

   .projeto_bemMais {
    display: inline-block;
    margin-left:30px;
    width: 200;
    position: relative;
   }

   .projeto_grupoSbf {
    display: inline-block;
    margin-left:30px;
    width: 200;
    position: relative;
   }

   .projeto_starex {
    display: inline-block;
    margin-left:30px;
    width: 200;
    position: relative;
   }

   .serviços {
    margin: 20px 0;
    list-style: none;
   }

   .serviço_avcb {
    display: inline-block;
    width: 200;
    position: relative;
   }

   .serviço_clcb {
    display: inline-block;
    margin-left:50px;
    width: 200;
    position: relative;
   }

   .serviço_pt {
    display: inline-block;
    margin-left:50px;
    width: 200;
    position: relative;
   }

   .serviço_ps {
    display: inline-block;
    margin-left:50px;
    width: 200;
    position: relative;
   }



   .mvv {
    margin: 20px 0;
    list-style: none;
   }


   
   .titles_mvv  {
    color:#F32F2F;
    text-decoration:none;
   }

   .txt_mvv {
    display: inline-block;
    width:200;
    position: relative;
   }

   .missao {
    display: inline-block;
    width: 400px;
    height:200px;
    position: relative;
   }

   .visao {
    display: inline-block;
    margin-left:110px;
    width: 400px;
    height:200px;
    position: relative;
   }

   .valores {
    display: inline-block;
    margin-left:110px;
    width: 400px;
    height:200px;
    position: relative;
   }

   .txt_align {
    text-align: center;
    color:#F32F2F;
    text-decoration:none;
    margin-top:30px;
    margin-bottom:30px;
}

.form_example {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

form input, form textarea {
    outline: unset;
    padding: 20px;  
    width: 300px;
    border: 1px solid #F32F2F;
    border-radius:20px;
}

div.form_example_ns {
    display: inline-block;
    text-align: justify;
    margin-bottom: 15px;

}

div.form_example_tc {
    display: inline-block;
    text-align: justify;
    margin-bottom: 15px;
}

.form_full {
    width: 660px;

}

.nome {
    margin-right: 15px;
}

.tel {
    margin-right: 15px;
}

div.form_example {
  display: table-row;
}

label,
input {
  margin-bottom: 10px;
}

label {
  padding-right: 10px;
}

.rodape
{
    background-color:black;
    width: 1440px;
    height: 354px;
    list-style-type:none;
    text-align: center;
}

.rodape__item {
    color:#F32F2F;
    text-decoration:none;
}

footer
{
    list-style-type:none;
}

.logo_footer {
    margin-top:80px;
    margin-bottom:15px;
}

.btn_serv {
    position:absolute;
    bottom:5%;
    left:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #F32F2F;
    color:white;
    font-size: 16px;  
    padding: 12px 24px;
    border:none;
    cursor:pointer;
    border-radius:5px;
}

.btn_form {
    position:relative;
    left:607px;
    background-color: #F32F2F;
    color:white;
    font-size: 16px;    
    padding: 12px 24px;
    border:none;
    cursor:pointer;
    border-radius:5px;
}

.redes_sociais {
    display: inline-block;
    position:relative;
    bottom:500px;
    left:820px;
    color:black;
    font-size: 16px;    
    padding: 12px 24px;
    border:none;
    cursor:pointer;
    border-radius:5px;
}

.aside_rs {
    display: inline-block;
    position:relative;
    bottom:400px;
    left:450px;
    border-right: 15px;
    color:white;
    font-size: 16px;    
    padding: 12px 24px;
    border:none;
    cursor:pointer;
    border-radius:5px;
}

.aside_zap {
display: inline-block;
position: relative;
margin-right:15px;
}

.aside_insta {
display: inline-block;
position: relative;
margin-right:15px;
}

.aside_linkedin {
display: inline-block;
position: relative;
margin-right:15px;
}

.lista_numerada {
    list-style: decimal;
}
.lista {
    margin-bottom:5px;
}

.titles_subtitulo {
    color:black;
    text-decoration:none;
}

.brid_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}