
.PPPnikkeiLine-Regular
{
    font-family:"PPPNikkeiLine-Regular", sans-serif;
}
#barraTopo
{
    background-color:aquamarine;
    width: 1440px;
    height: 90px;
}

header nav ul 
{
    list-style-type:none;
}
