*{
    font-family:"Darker Grotesque", sans-serif;
    font-optical-sizing:auto;
    font-weight: 16px;
    font-style:normal;
    margin:0;
    padding:0;
    border:0;
}


#grid {
    display: grid;
    grid-template-areas:
    "Cabeçalho"
    "Banner"
    "Missão"
    "Visão"
    "Valores"
    "Serviços"
    "AVCB"
    "CLCB"
    "Proj_Técnico"
    "Consultoria"
    "Carrossel"
    "Contato"
    "Redes_Sociais"
    "Rodapé";
    grid-template-rows: repeat(14, auto);
    grid-template-columns: 1fr;
}

div.Cabeçalho {
    grid-area: Cabeçalho;
    display: grid;
    position: sticky;
    top: 0;
    z-index: 10;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 0;
    margin: 0;
}

header.Logo_home {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: auto;
    height: auto;
    padding: 10px;
}

.logo_home .img_logo {
    width: 100%;
    height: 100%;
}

header.Menus {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    background-color: black;
    width: auto;
    height: auto;
}

nav.Banner {
    grid-area: Banner;
    place-items: center;
    width: auto;
    height: auto;
}

.img_banner {
    align-items: center;
    width: 100%;
    height: 100%;
}

h2.titulo {
    justify-content: center;
    display: flex;
    text-align: center;
    text-decoration: solid;
    color: red;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
}

p.texto {
    display: inline-flex;
    text-align: center;
    text-decoration: solid;
    color: black;
    font-weight: bold;
}

section.Missão {
    grid-area: Missão;
    text-align: center;
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 10px;
}

section.Visão  {
    grid-area: Visão;
    text-align: center;
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

section.Valores {
    grid-area: Valores;
    text-align: center;
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

section.Serviços {
    grid-area: Serviços;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

section.AVCB article.AVCB {
    grid-area: AVCB;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;    
    width: auto;
    height: auto;
    margin: 25px;
}

.AVCB {
    width: 100%;
    height: 100%;
}

section.CLCB article.CLCB {
    grid-area: CLCB;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    margin: 25px;
}

.CLCB {
    width: 100%;
    height: 100%;
}

section article a.box_botão {
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-block-start: 300px;
}

section.Proj_Técnico article.Proj_Técnico {
    grid-area: Proj_Técnico;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    margin: 25px;
}

.Proj_Técnico {
    width: 100%;
    height: 100%;
}

section.Consultoria article {
    grid-area: Consultoria;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    margin: 25px;
}

.Consultoria {
    width: 100%;
    height: 100%;
}

button.botão_serviços {
    justify-content: center;
    align-items: center;
    background-color: #F32F2F;
    color:white;
    font-size: 16px;  
    padding: 12px 24px;
    border:none;
    cursor:pointer;
    border-radius:5px;
    font-family: "Darker Grotesque";
    font-size: 24px;
    font-weight: bold;
    box-shadow: -5px 0 5px rgba(0,0,0,0.25);
}

.img_serviços {
    border-radius: 5%;
    border-color: black;
    box-shadow: -5px 0 5px rgba(0,0,0,0.25);
}

section.Carrossel {
    grid-area: Carrossel;
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    margin: 25px;
}

.img_carrossel {
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: auto;
    height: auto;
    box-shadow: -5px 0 5px rgba(0,0,0,0.25);
}

section.Contato {
    grid-area: Contato;
    margin: 25px;
}

#grade {
    display: grid;
    grid-template-areas: 
    "Form_Email" 
    "Form_NomeSobrenome"
    "Form_CelTelefone"
    "Form_Assunto"
    "Form_Mensagem"
    "Form_Botão";
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 1fr;
}

form div.Form_Email {
    grid-area: Form_Email;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin: 5px;
}

div form div.Form_NomeSobrenome {
    grid-area: Form_NomeSobrenome;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 5px;
}

form div.Form_CelTelefone {
    grid-area: Form_CelTelefone;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin: 5px;
}

form div.Form_Assunto {
    grid-area: Form_Assunto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin: 5px;
}

form div.Form_Mensagem {
    grid-area: Form_Mensagem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin: 5px;
}

div.Form_Botão {
    grid-area: Form_Botão;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
    margin: 5px;
}

.Botão_Form {
    background-color: #F32F2F;
    color:white;
    font-size: 16px;    
    padding: 12px 24px;
    border:none;
    cursor:pointer;
    border-radius:5px;
    font-family: "Darker Grotesque";
    font-weight: bold;
    font-size: 24px;
    box-shadow: -5px 0 5px rgba(0,0,0,0.25);
}

form input {
    display: flex;
    outline: unset;
    padding: 8px;  
    width: auto;
    height: 30px;
    border: 1px solid #F32F2F;
    border-radius:10px;
    font-family: "Darker Grotesque";
    font-size: 16px;
    padding-left: 8px;
}

form textarea {
    display: flex;
    outline: unset;
    padding: 8px;  
    width: auto;
    height: 150px;
    border: 1px solid #F32F2F;
    border-radius:10px;
    font-family: "Darker Grotesque";
    font-size: 16px;
    padding-left: 8px;
}

section.Redes_Sociais article {
    grid-area: Redes_Sociais;
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    margin: 25px;
}

.aside_rs {
display: inline-block;
justify-content: center;
position:relative;
width: auto;
height: auto;
border-right: 15px;
color:white;
font-size: 16px;    
padding: 12px 24px;
border:none;
cursor:pointer;
border-radius:5px;
}

.aside_zap {
display: inline-block;
position: relative;
margin-right:15px;
width: auto;
height: auto;
}

.logo_zap {
align-items: center;
justify-content: center;
width: auto;
height: auto;
}

.aside_insta {
display: inline-block;
position: relative;
margin-right:15px;
}

.aside_linkedin {
display: inline-block;
position: relative;
margin-right:15px;
}

h2.fale_conosco {
    justify-content: center;
    display: flex;
    text-align: center;
    text-decoration: solid;
    color: black;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
}


footer.Rodapé {
    grid-area: Rodapé;
    display: grid;
    grid-template-rows: repeat(2 auto);
    background-color: black;
    padding: 25px;
}

.item_rodapé {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 0;
    margin: 0;
    padding: 0;
}
.logo_footer {
    width: auto;
    height: auto;
}

.texto_rodapé {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    margin: 0px;
}



:root{
    --color-1: #000;
    --text-color: #F32F2F;
    --accent-color: #a52a2a
}


header{
    height: 60px;
    background-color: var(--color-1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: flex-end;
}

header a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}

header a:hover{
    background-color: var(--accent-color);
    color: #fff;
}



header svg{
    fill: var(--text-color);
}

#sidebar-active {
    display: none;
}

.open-sidebar-button, .close-sidebar-button{
    display: none;
}


.menu__item {
    color:#F32F2F;
    display: inline-block;
    width: 100%;
    height:100%;
    position: relative;
   }

ul.serv {
    display: flex;
    height: 100%;
}

.submenu {
    position: absolute;
    display: none;
    height: auto;
    width: 200px;
    background-color: black;
   }

.com-submenu:hover .submenu {
    display: block;
    list-style: none;
   }

@media(max-width: 430px){
    .links-container{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 200px;

        background-color: var(--color-1);
        box-shadow: -5px 0 5px rgba(0,0,0,0.25);
        transition: 0.75s ease-out;
    }
    header a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 20px;
        justify-content: flex-start;
    }
    

    .open-sidebar-button, .close-sidebar-button{
        padding: 20px;
        display: block; 
    }
    #sidebar-active:checked ~ .links-container{
        right:0;
    }
    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }

    .menu__item {
        color:#F32F2F;
        display: inline-block;
        width: 200px;
        height:auto;
        position: relative;
       }
    
    .submenu {
        position: absolute;
        display: none;
        height: auto;
        width: 200px;
        background-color: black;
       }
    
    .com-submenu:hover .submenu {
        display: block;
        list-style: none;
       }

       ul.serv {
        display: flex;
        height: auto;
    }

}